streamlit
fastapi
pydantic
langchain
langchain-core
langchain-community
langchain-openai
langgraph
faiss-cpu
python-dotenv
unstructured
python-docx
pypdf
wikipedia
beautifulsoup4
lxml
requests
fastapi
uvicorn